.experiencia {
    padding: 4% 12%;
}

.experiencia_titulo {
    font-size: 2rem;
    font-family: var(--fuente-krona);
    color: var(--color-secundario);
    margin-bottom: 20px;
}

.experiencia_lista {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0;
}

.experiencia_item {
    background-color: var(--color-hover);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
}

.experiencia_item strong {
    font-size: 1.5rem;
    color: var(--color-terciario);
}

.experiencia_item p {
    text-align: justify;
    font-size: 1.2rem;
    color: var(--color-secundario);
}